@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body {
  height: auto;
  margin: 0%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  background-color: #F3F3F3;

  // background: url('../images/Background.svg');
  // width: 100%;
  // background-repeat: no-repeat;
}
  

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
}

.hero-container {
  background: #101010;
  color: white;
  justify-content: space-between;
  padding: 2em;
  color: white;

  a {
    color: rgba($color: white, $alpha: 0.8);
  }
  
  .nav-social {
    float: right;
    opacity: 70%;

    ul {
      display: flex;
      a {
        font-size: 0.65em;
      }
    }

    #hidden-mobile {
      display: none;
    }

  
  }

  #arrow {
    display: flex;
    transform: rotate(90deg);
    width: 50%;
    margin: -25% 0 0 90%;
  }
}

.hero {
  display: flex;
  text-align: left;
  padding: 1em;
  padding-bottom: 4em;
  flex-direction: column;

  h1, h4, h3 {
    font-weight: 400;
    line-height: 0em;
  }

  h4 {
    font-size: 0.6em;
  }

  h3 {
    font-size: 1em;
  }

  h1 {
    font-size: 2em;
    font-weight: 500;
  }

  #line {
    margin: 5px;
    margin-left: -0.5em;
  }

  #me {
    display: none;
  }
}

section {
  padding: 4em 2em;
  text-align: center;

  .featured {
    position: relative;
  }

  .subtitle {
    color: #E0474C;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.2em;
    font-size: 0.65em;
    margin: 0.25em auto;
  }

  .featured-title {
    color: black;
    font-size: 1.50em;
  }

  .featured-desc {
    color: #252525;
    font-size: 0.75em;
    font-weight: 500;
    line-height: 1.8em;
    margin-bottom: 3em;
  }

  #featured-line {
    margin: 0.75em auto;
  }
}


.stack {

  .stack-title {
    position: relative;
  
    p {
      font-weight: bold;
      font-size: 1.25em;
      margin-top: -30px;
      text-transform: uppercase;
      letter-spacing: 0.15em;
      text-shadow: 0px 2px 6px rgba($color: black, $alpha: 0.5);
    }
  }
  
  .stack-title::before {
    position: absolute;
    content: "";
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: rgba($color: black, $alpha: 0.15) solid 5px;
    background-color: white;
    top: -50px;
    left: 30%;
    z-index: -1;
  }
  
  .stack-logos {
    display: grid;
    border-radius: 10px;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  
    .col-left {
      margin-right: 50%;
      padding: 15px 10px;
    }
    .col-right {
      margin-left: 50%;
      padding: 15px 10px;
  
    }
  }
  background-color: #7ACFD6;
}

.skills-container ul li {
  padding: 1.5em;
  margin-bottom: 1em;

  .skills-title {
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 0.1em;
  }

  .skills-desc {
    font-size: 0.75em;
    font-weight: 500;
    line-height: 1.8em;
    margin-top: -0.5em;
    margin: -0.5em auto 1.5em auto;
    width: 30ch;
  }

  img {
    width: 25%;
  }

  .skill-one {
    width: 200px;
    margin: 0 auto;
  }
  .skill-two {
    width: 250px;
    margin: 0 auto;
  }
  .skill-three {
    width: 200px;
    margin: 0 auto;
  }
}

.portfolio {
  background-color: #E0474C;
  
  .portfolio-title {
    font-weight: bold;
    font-size: 1.5em;
    color: #F3F3F3;
    text-shadow: 0px 2px 6px rgba($color: black, $alpha: 0.5);
  }

  .portfolio-desc {
    font-weight: 700;
    font-size: 0.75em;
    line-height: 1.8em;
    color: #252525;
  }

  p {
    margin: 0.5em auto;
  }
  .portfolio-container {
    margin-bottom: 2em;
  }
}