@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body {
  height: 100vh;
  margin: 0%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
}

.hero-container {
  background: #101010;
  color: white;
  justify-content: space-between;
  padding: 2em;
  color: white;

  a {
    color: rgba($color: white, $alpha: 0.8);
  }
  
  .nav-social {
    float: right;
    opacity: 70%;

    ul {
      display: flex;
      a {
        font-size: 0.75em;
      }
    }

    #hidden-mobile {
      display: none;
    }
  
  }

  #arrow {
    display: flex;
    transform: rotate(90deg);
    width: 50%;
    margin: -25% 0 0 90%;
  }
}

.hero {
  display: flex;
  text-align: left;
  padding: 2em;
  flex-direction: column;

  h1, h4, h3 {
    font-weight: 400;
    line-height: 0em;
  }

  h4 {
    font-size: 0.6em;
  }

  h3 {
    font-size: 1em;
  }

  h1 {
    font-size: 2em;
    font-weight: 500;
  }

  #line {
    margin: 5px;
    margin-left: -0.5em;
  }

  #me {
    display: none;
  }
}

section {
  padding: 4em 2em;
  text-align: center;

  .featured {
    position: relative;
  }

  .subtitle {
    color: #E0474C;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.2em;
    font-size: 0.65em;
    margin: 0.25em auto;
  }

  .featured-title {
    color: black;
    font-size: 1.50em;
  }

  .featured-desc {
    color: #252525;
    font-size: 0.75em;
    font-weight: 500;
    line-height: 1.8em;
    margin-bottom: 3em;
  }

  #featured-line {
    margin: 0.75em auto;
  }

  #featured-project {
    box-shadow: 0 0 10px 2px black;
  }
}
