@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
  height: 100vh;
  margin: 0%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  background-color: #F3F3F3;
}
  

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
}

.hero-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: linear-gradient(#7ACFD6, #F3F3F3);
  color: #101010;

  #contact {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1em;
    font-size: 1em;
  }

  a {
    color: rgba($color: #252525, $alpha: 0.8);
  }

  a:hover {
    color: black;
  }

  
  .container .card {
    position: relative;
    padding-top: 20px;
    width: 300px;
    height: 400px;
    background: rgba(255, 255, 255, 0.05);
    margin: 20px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    overflow: hidden;
  }

  .container .card .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.9;
    transition: 0.5s;
    border-radius: 20px;

  }
  
  .container .card:hover .content {
    opacity: 1;
  }
  
  .container .card .content .imgBox {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid rgba(0,0,0,0.25);
  }
  
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  h3 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 700;
    font-size: 1.5em;
    text-align: center;
    margin: 20px 0 10px 0;
    line-height: 1.1em;
  }

  span {
    font-size: 0.75em;
    font-weight: 500;
    text-transform: initial;
    letter-spacing: 0;
  }

  .social {
    position: absolute;
    bottom: 50px;
    display: flex;
  }

  li {
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
    opacity: 0;
  }

  a {
    font-size: 1.75em;
  }

  .container .card:hover .social li {
    transform: translateY(30px);
    opacity: 1;
  }
}


section {
  padding: 4em 2em;
  text-align: center;
}

.featured {
  position: relative;
  
  .subtitle {
    color: #E0474C;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.2em;
    font-size: 0.65em;
    margin: 0.25em auto;
  }
  
  .featured-title {
    color: black;
    font-size: 1.50em;
  }
  
  .featured-desc {
    color: #252525;
    font-size: 0.75em;
    font-weight: 500;
    line-height: 1.8em;
    margin-bottom: 3em;
  }
  
  #featured-line {
    margin: 0.75em auto;
  }

  img {
    transition: 0.5s;
  }

  img:hover {
    transform: translateY(-5%);
  }
}

.stack {
  background-color: #7ACFD6;
  // background: linear-gradient(#f3f3f3, #7ACFD6 25%);
  box-shadow: 0px 0px 6px rgba($color: black, $alpha: 0.15) inset;

  img {
    transition: 0.5s;
  }

  img:hover {
    transform: translateY(-10%);
  }

  
  .stack-title {
    position: relative;

    #stack-line-top {
      background-color: #fa3b41bb;
      height: 4px;
      width: 200px;
      margin: 0em auto 1em auto;
      box-shadow: 0px 2px 1px rgba($color: black, $alpha: 0.25);
    }

    #stack-line-bottom {
      background-color: #F3F3F3;
      opacity: 70%;
      border-radius: 5px;
      height: 4px;
      width: 250px;
      margin: -1.5em auto 2em auto;
      box-shadow: 0px 2px 2px rgba($color: black, $alpha: 0.25);
    }
  
    p {
      color: white;
      font-weight: bold;
      font-size: 2em;
      margin-top: 0px;
      text-transform: uppercase;
      letter-spacing: 0.15em;
      text-shadow: 1px 2px 2px rgba($color: black, $alpha: 0.75);
    }
  }
  
  .stack-title::before {
    position: absolute;
    content: "";
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: rgba($color: black, $alpha: 0.15) solid 5px;
    background-color: white;
    top: -50px;
    left: 30%;
    z-index: -1;
  }
  
  .stack-logos {
    display: grid;
    border-radius: 10px;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  
    .col-left {
      margin-right: 50%;
      padding: 15px 0px 10px 0px;
    }
    .col-right {
      margin-left: 50%;
      padding: 15px 0px 10px 0px;
  
    }
  }
}

.skills {

  .skills-header {
    padding-top: 1em;
    margin-bottom: -4em;
    font-weight: 700;
    font-size: 2em;
  }
  
  #lets {
    text-shadow: 1px 2px 1px rgba($color: black, $alpha: 0.75);
    position: relative;
    margin-right: 1.5em;
    margin-bottom: -0.5em;
    color: white;
    opacity: 100%;
    z-index: 1;
  }
  
  #blob {
    position: relative;
    z-index: 0;
    top: -5.75em;
    width: 75%;   
    transform: rotate(-5deg); 
  }
  
  #work {
    position: relative;
    color: rgb(255, 251, 42);
    text-shadow: 1px 2px 1px rgba($color: black, $alpha: 0.75);
    margin-left: 2em;
    z-index: 1;
  }
  
  .skills-container ul li {
    padding: 1.5em;
    margin-bottom: 1em;
    
  
    .skills-title {
      text-shadow: 0px 2px 1px rgba($color: black, $alpha: 0.25);
      font-weight: 700;
      font-size: 1.5em;
      letter-spacing: 0.1em;
    }
  
    .skills-desc {
      font-size: 0.8em;
      font-weight: 500;
      line-height: 1.8em;
      margin-top: -0.5em;
      margin: -0.5em auto 1.5em auto;
      width: 30ch;
      color: #252525;
    }
  
    img {
      width: 25%;
    }
  
    .skill-one {
      width: 200px;
      margin: 0 auto;
    }
    .skill-two {
      width: 250px;
      margin: 0 auto;
    }
    .skill-three {
      width: 200px;
      margin: 0 auto;
    }
  }
}

.portfolio {
  background-color: #F84950;
  // background: linear-gradient(#f3f3f3,#F84950, #f3f3f3);
  box-shadow: 0px 0px 4px rgba($color: black, $alpha: 0.5) inset;

  .subtitle {
    color: rgb(255, 251, 42);
    text-shadow: 1px 2px 1px black;
    font-weight: 700;
  }
  
  .portfolio-title {
    font-weight: bold;
    font-size: 2em;
    color: white;
    text-shadow: 1px 2px 1px black;
  }

  .portfolio-desc {
    padding: 1.5em;
    font-weight: 500;
    font-size: 0.85em;
    line-height: 1.8em;
    color: #101010;
  }

  p {
    margin: 0.5em auto;
  }

  .portfolio-container {
    padding: 2em;
  }

  img {
    position: relative;
    transition: 0.5s;
  }

  img:hover {
    transform: translateY(-5%);
  }
}

.footer-container {
  padding: 2em;

  h1 {
    margin-left: 3em;
  }

  button {
    font-family: 'Rubik', sans-serif;
    font-size: 0.8em;
    font-weight: 500;
    letter-spacing: 0.15em;
    border: solid thin black outset;
    border-radius: 0.25em;
    width: 100px;
    height: 25px;
    z-index: 1;
    transition: 0.5s;
    overflow: hidden;
    position: relative;
    float: right;
    margin: 2em 0.5em;
    background-color: white;
    box-shadow: 1px 2px 4px rgba($color: black, $alpha: 0.5);
    
    img {
      width: 10%;
      opacity: 0;
      transform: 5s;
    }
  }

  span {
    position: absolute;
    width: 150%;
    height: 150%;
    background-color: #88e4ec;
    transform: translateY(-150%) rotate(90deg);
    left: 4em;
    transition: 0.5s;
    z-index: -1;
  }

  a:hover {
    color: black;
  }
  
  button:hover {
    img {
      opacity: 100%;
    }
  }
  
  button:hover span {
    transform: translateY(0) scale(2) rotate(0deg);
  }
}