@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
body {
  height: auto;
  margin: 0%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  background-color: #F3F3F3;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
}

.hero-container {
  background: #101010;
  color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em;
  color: white;
}

.hero-container a {
  color: rgba(255, 255, 255, 0.8);
}

.hero-container .nav-social {
  float: right;
  opacity: 70%;
}

.hero-container .nav-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-container .nav-social ul a {
  font-size: 0.65em;
}

.hero-container .nav-social #hidden-mobile {
  display: none;
}

.hero-container #arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 50%;
  margin: -25% 0 0 90%;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  padding: 1em;
  padding-bottom: 4em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero h1, .hero h4, .hero h3 {
  font-weight: 400;
  line-height: 0em;
}

.hero h4 {
  font-size: 0.6em;
}

.hero h3 {
  font-size: 1em;
}

.hero h1 {
  font-size: 2em;
  font-weight: 500;
}

.hero #line {
  margin: 5px;
  margin-left: -0.5em;
}

.hero #me {
  display: none;
}

section {
  padding: 4em 2em;
  text-align: center;
}

section .featured {
  position: relative;
}

section .subtitle {
  color: #E0474C;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 0.65em;
  margin: 0.25em auto;
}

section .featured-title {
  color: black;
  font-size: 1.50em;
}

section .featured-desc {
  color: #252525;
  font-size: 0.75em;
  font-weight: 500;
  line-height: 1.8em;
  margin-bottom: 3em;
}

section #featured-line {
  margin: 0.75em auto;
}

.stack {
  background-color: #7ACFD6;
}

.stack .stack-title {
  position: relative;
}

.stack .stack-title p {
  font-weight: bold;
  font-size: 1.25em;
  margin-top: -30px;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
}

.stack .stack-title::before {
  position: absolute;
  content: "";
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: rgba(0, 0, 0, 0.15) solid 5px;
  background-color: white;
  top: -50px;
  left: 30%;
  z-index: -1;
}

.stack .stack-logos {
  display: -ms-grid;
  display: grid;
  border-radius: 10px;
  width: 100%;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

.stack .stack-logos .col-left {
  margin-right: 50%;
  padding: 15px 10px;
}

.stack .stack-logos .col-right {
  margin-left: 50%;
  padding: 15px 10px;
}

.skills-container ul li {
  padding: 1.5em;
  margin-bottom: 1em;
}

.skills-container ul li .skills-title {
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 0.1em;
}

.skills-container ul li .skills-desc {
  font-size: 0.75em;
  font-weight: 500;
  line-height: 1.8em;
  margin-top: -0.5em;
  margin: -0.5em auto 1.5em auto;
  width: 30ch;
}

.skills-container ul li img {
  width: 25%;
}

.skills-container ul li .skill-one {
  width: 200px;
  margin: 0 auto;
}

.skills-container ul li .skill-two {
  width: 250px;
  margin: 0 auto;
}

.skills-container ul li .skill-three {
  width: 200px;
  margin: 0 auto;
}

.portfolio {
  background-color: #E0474C;
}

.portfolio .portfolio-title {
  font-weight: bold;
  font-size: 1.5em;
  color: #F3F3F3;
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
}

.portfolio .portfolio-desc {
  font-weight: 700;
  font-size: 0.75em;
  line-height: 1.8em;
  color: #252525;
}

.portfolio p {
  margin: 0.5em auto;
}

.portfolio .portfolio-container {
  margin-bottom: 2em;
}
/*# sourceMappingURL=main.css.map */